body {
   background: rgb(83, 9, 9); 
}
/* Select by TAG type*/ 
p {
    color:gold; 
}
/* Select by id name (unique) */
#carolyn {
    background: black
}
/* Select by CLASS name (shared styles) */
.uniform {
    color: whitesmoke
}

h1 {
    color: darksalmon;
    font-weight: 200; 
font-style: italic;
font-size: 40px;
font-family:Verdana, Geneva, Tahoma, sans-serif;
text-align:center
}